body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    margin: 0;
}

a {
    font-size: inherit;
    color: #2564B9;
    font-weight: bold;
    text-decoration: none;
}

.header-pagina {
    background: white;
    padding: 0.5em;
    margin-bottom: 3em;
    border-bottom: 3px solid #FAFAFA;
    box-shadow: 0px 7px 15px #efeded;
}

.header-menu-escritorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em 0.5em 1em;
}


.header-logo {
    max-width: 13em;
}


.header-menu-movil {
    display: none;
}



.boton a, .boton {
    color: white;
}

.boton{
    border: none;
    padding: 1em;
    border-radius: 0.7em;
    font-weight: bold;
}

.boton-normal {
    background-color: #00d1b2;
}

.boton-normal:hover {
    background-color: #00C4A7;
}

.boton-peligro {
    background-color: #f14668;
}

.boton-peligro:hover {
    background-color: #F03A5F;
}


.contenido-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 15em;
    min-height: 13em;
    border: 0.5px solid #c5c3c3;
    background-color: #efeded;
    border-radius: 0.7em;
    font-size: 1em;
    color: grey;
    text-align: center;
}

.tarjeta h2{
    font-size: 1.6em;
    color: #2564B9;
    margin: 0;
}

.tarjeta i{
    font-size: 5em;
    margin: 0.3em;
}

.tarjeta:hover{
    background-color: #c5c3c3;
}



.footer-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFAFA;
    color: #c5c3c3;
    margin-top: 4em;
    border-top: 1px solid #e8e7e7;
}

.footer-redes-sociales i{
    color: #c5c3c3;
    margin: 0em 0em 0em 1em;
    font-size: 1.2em;
}





/* Cuando la pantalla es menor a 900px  (tablets y teléfonos)*/
@media only screen and (max-width : 900px) {

    .header-menu-escritorio {
        display: none;
    }

    .header-menu-movil {
        display: block;

    }

    .header-menu-movil ul {
        width: 100%;
        padding: 0;
        display: none;

    }

    .header-menu-movil li {
        display: block;
        margin: 0;
        padding: 10px;
        list-style: none;
        text-align: center;
    }

    .header-menu-movil input {
        display: none;
    }

    .header-menu-movil label {
        box-sizing: border-box;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 20px;
        font-weight: bold;
        font-size: 1.6em;
        color: #2564B9;
        text-align: center;
        user-select: none;

        position: absolute;
        top: 0.6em;
        right: 1em;
    }

    input:checked~ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .header-logo {
        width: 8em;
        margin-left: 1em;
    }

    .header-pagina {
        padding: 0.6em 0em 0em 0em;
    }

    .footer-pagina{
        justify-content: center;
    }


    .lista-examenes{
        width: 80%;
        
    }

    .contenedor-tarjetas{
        padding: 1em;
    }

    .tarjeta{
       
    }

}