body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    
}

a {
    font-size: inherit;
    color: #2564B9;
    font-weight: bold;
    text-decoration: none;
}

.header-pagina {
    background: white;
    padding: 0.5em;
    margin-bottom: 3em;
    border-bottom: 3px solid #FAFAFA;
    box-shadow: 0px 7px 15px #efeded;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.header-menu-escritorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em 0.5em 1em;
}


.header-logo {
    max-width: 13em;
}

/*
.header-menu-movil {
    display: none;
}
*/

.header-control-hamburguesa{
    display: none;
}

.header-contenido-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-contenido-menu li{
    margin-left: 1em;
}

.header-form-log{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-form-log input{
    border-radius: 0.5em;
    padding: 0.5em;
    border-color: #c5c3c3;
    width: 20em;
}


.boton a, .boton {
    color: white;
}

.boton{
    border: none;
    padding: 1em;
    border-radius: 0.7em;
    font-weight: bold;
}

.boton-normal {
    background-color: #00d1b2;
}

.boton-normal:hover {
    background-color: #00C4A7;
}

.boton-peligro {
    background-color: #f14668;
}

.boton-peligro:hover {
    background-color: #F03A5F;
}

.boton-action{
    background-color: #2564B9;
}

.boton-action:hover{
    background-color: #203385;
}

.boton-action:disabled{
    background-color: #a6b0db;
}


.contenido-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.contenedor-tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 15em;
    min-height: 13em;
    border: 0.5px solid #c5c3c3;
    background-color: #efeded;
    border-radius: 0.7em;
    font-size: 1em;
    color: grey;
    text-align: center;
}

.tarjeta h2{
    font-size: 1.6em;
    color: #2564B9;
    margin: 0;
}

.tarjeta i{
    font-size: 5em;
    margin: 0.3em;
}

.tarjeta:hover{
    background-color: #c5c3c3;
    color: black;
}

.tarjeta:hover h2{
    color: blue;
}


.contenedor-preguntas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.pregunta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #c5c3c3;
    padding: 3em;
    padding-top: 1em;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.pregunta-contenido{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 50%;
}

.pregunta-opcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em;
}


.radio-input{
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

.radio-input::after {
    width: 1.6em;
    height: 1.6em;
    position: relative;
    background: #ececec;
    border: 1px solid #a6b0db;
    border-radius: 15px;
    transform: scale(0.8);
    top: -4px;
    left: -4px;
    content: "";
    display: inline-block;
 }

 .radio-input:hover::after {
    background: #c5c3c3;
 }

 .radio-input:checked::after {
    background: #2564B9;
 }

.radio-input-fallo::after{
    background-color: #f14668 !important;
}

.radio-input-acierto:hover::after{
    background-color: #00c465 !important;
}

.radio-input-fallo:hover::after{
    background-color: #f14668 !important;
}

.radio-input-acierto::after{
    background-color: #00c465 !important;
}


.pregunta-opcion label{
    width: 100%;
    margin: 0;
}

.pregunta-contenido p{
    font-weight: bold;
}

.pregunta-img{
    width: 17em;
    object-fit: contain;
}


.tabla-listado{
    width: 90%;
    text-align: justify;
    margin-top: 3em;
}

.tabla-listado th{
    padding: 0.5em;
}

.tabla-listado td{
    border-bottom: 1px solid #c5c3c3;
    padding: 0.5em;
}

.tabla-listado tr:nth-child(2n){
    background-color: #efeded;
}

.control-usuarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}



.footer-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFAFA;
    color: #c5c3c3;
    margin-top: 4em;
    border-top: 1px solid #e8e7e7;
}

.footer-redes-sociales i{
    color: #c5c3c3;
    margin: 0em 0em 0em 1em;
    font-size: 1.2em;
}





/* Cuando la pantalla es menor a 900px  (tablets y teléfonos)*/
@media only screen and (max-width : 900px) {
/*
    .header-menu-escritorio {
        display: none;
    }

    
    .header-menu-movil {
        display: block;
    }

    .header-menu-movil ul {
        width: 100%;
        padding: 0;
        display: none;

    }

    .header-menu-movil li {
        display: block;
        margin: 0;
        padding: 10px;
        list-style: none;
        text-align: center;
    }

    .header-menu-movil input {
        display: none;
    }

    .header-menu-movil label {
        box-sizing: border-box;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 20px;
        font-weight: bold;
        font-size: 1.6em;
        color: #2564B9;
        text-align: center;
        user-select: none;

        position: absolute;
        top: 0.6em;
        right: 1em;
    }
*/

    .header-menu-escritorio {
        display: block;
    }

    input:checked~ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .header-menu-escritorio label {
        box-sizing: border-box;
        display: inline-block;
        width: 1em;
        height: 1em;
        line-height: 20px;
        font-weight: bold;
        font-size: 1.6em;
        color: #2564B9;
        text-align: center;
        user-select: none;

        position: absolute;
        top: 0.6em;
        right: 1em;
    }

    .header-logo {
        width: 8em;
        margin-left: 1em;
    }

    .header-pagina {
        padding: 0.6em 0em 0em 0em;
    }

    .header-menu-escritorio ul {
        width: 100%;
        padding: 0;
        display: none;

    }

    .header-menu-escritorio li {
        display: block;
        margin: 0;
        padding: 10px;
        list-style: none;
        text-align: center;
    }

    .header-form-log{
        flex-direction: column;
        width: 100%;
    }

    .header-form-log input{
        margin-top: 1em;
    }

   


    .footer-pagina{
        justify-content: center;
    }

    .contenido-principal{
        padding-top: 80px;
    }

    .contenedor-tarjetas{
        padding: 1em;
    }

    .pregunta{
        padding: 0;
        margin-bottom: 3em;
    }

    .pregunta-contenido{
        margin-left: 0;
        margin-bottom: 3em;
        margin-top: 2em;
        width: 95%;
    }

}